# Sphinx and theme
sphinx >= 7.0, < 9.0
sphinx_immaterial >= 0.11.4

# Java domain
javasphinx
six  # un-listed dependency of javasphinx

# Requirements for the HLI files we import for the Python docs
numpy